<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>border_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,326}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,326}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,326}</string>
                <key>textureRect</key>
                <string>{{0,326},{512,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,326}</string>
                <key>textureRect</key>
                <string>{{512,326},{512,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,326}</string>
                <key>textureRect</key>
                <string>{{0,652},{512,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,326}</string>
                <key>textureRect</key>
                <string>{{512,652},{512,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>azcsZXz.png</string>
            <key>size</key>
            <string>{1024,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b3aa1dc400ac7a68c4718f1ce4c6068:70c993e93b478fd8fcbb8b389db65660:3599c6d5cb96f00d5cfabf46ec19b249$</string>
            <key>textureFileName</key>
            <string>azcsZXz.png</string>
        </dict>
    </dict>
</plist>
